@keyframes motionScroll{
from{
    opacity: 0;
/* transform: scale(0.9); */
transform: translateX(-100px);
}
to {
    opacity: 1;
    /* transform: scale(1); */
    transform: translateX(0);

}
}
.animated{
    animation: motionScroll .8s linear;
    

}
@keyframes Scrolled{
from{
    opacity: 0;
    transform: scale(0);
transform: translateY(100px);}
to {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1);
}
}
.Scrolled{
   animation-name: Scrolled;
   animation-duration: 2s;
   animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    
    

}

.img-animation{
   animation-name: Scrolled;
   animation-duration: 1s;
   animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
        transform: scale(1);

}
@keyframes img{
from{
    opacity: 0;
transform: translateX(-200px);}
to {
    opacity: 1;
    transform: translateX(0);
}
}