@keyframes motionScroll{
from{
    opacity: 0;
transform: scale(0.9);}
to {
    opacity: 1;
    transform: scale(1);
}
}
.animated{
    animation: motionScroll .8s linear;
    

}
@keyframes Scrolled{
from{
    opacity: 0;
transform: translateY(100px);}
to {
    opacity: 1;
    transform: translateY(1px);
}
}
.Scrolled{
    animation: Scrolled .8s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
    

}

