.scroll-img{
     display: flex;
    flex-wrap: nowrap;
    justify-content: baseline;
    align-items: center;
    animation: scroll 30s infinite linear;
    gap: 2em;
    overflow: auto;
}
.scroll-img::-webkit-scrollbar{
    display: none;
}



