footer{
      background: linear-gradient(rgb(0, 0, 0), rgb(18, 25, 41));
    color: white;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #1e2b3b;
    border-radius: 10px;
    transition: all .3s linear;
}
footer p{
   color: #b5b1affa;
   font-size: 14px;
}

footer ul{
   padding-left: 15px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    list-style-type: none;
    font-size: 14px;
    line-height: 30px;
    color: #b5b1affa;
}
#social{
    display: flex;
    gap: 20px;
}
.social:hover{
    background-color: #f3b702;
    color: black;
    font-weight: 800;
}

.contact{
    font-size: 12px;
    color: #b5b1affa;
}
.contact .bi{
    font-size: 14px;
   line-height: 25px;
}


.go-top{
    background-color: #cf8700;
}

@media(max-width:768px){
    footer ul {
        font-size: 14px;
    }
}
@media(max-width:767px){
 .go-top-middle{
    display: flex;
    justify-content: center;
 }
}