header{
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1000;
    top: 0;
}
.menu-list a{
  list-style-type: none;
  text-decoration: none;
color: rgb(82, 78, 78);
}
nav ul{
font-family: sans-serrif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
list-style-type: none;
font-size: 12px;
gap: 30px;
font-weight: 600;

}
nav h1{
    font-size: 16px;
    font-weight: bold;
}
nav a{
    text-decoration: none;
color: rgb(82, 78, 78);
transition: all .2s linear;
}
nav a:hover{
  color: orange;
  transform: scale(1.2);
}
nav li:hover{
  transform: scale(1.05);
}
nav li{
transition: all .3s linear;
list-style-type: none;
}



@keyframes nav-animation{
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0);
  }
}






