header{
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: white;
    position: relative;
}
.menu-list a{
  list-style-type: none;
  text-decoration: none;
color: rgb(82, 78, 78);
}
nav ul{
font-family: sans-serrif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
list-style-type: none;
font-size: 12px;
gap: 30px;
font-weight: 600;

}
nav h1{
    font-size: 16px;
    font-weight: bold;
}
nav a{
    text-decoration: none;
color: rgb(82, 78, 78);
transition: all .2s linear;
}
nav a:hover{
  color: orange;
  transform: scale(1.2);
}
nav li:hover{
  transform: scale(1.05);
}
nav li{
transition: all .3s linear;
list-style-type: none;
}











/* Menu Button */
.menu-btn {
    position: absolute;
    top: 8px;
    right: 5px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 9;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 10;
  padding: 20px;
}

.sidebar.open {
  right: 0;
}

/* Close Button */
.close-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  float: right;
}

/* Menu */
.sidebar ul {
  list-style: none;
  padding: 40px 0 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}
