.col-body{
    position: relative;
}

.cards{
    padding: 25px;
    height: 100%;
    width: 100%;
    background-color: red;
    border-radius: 25px;
}

.project-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #f3b702;
    border-radius: 10px;
    transition: all .3s linear;
}
#project-icon{
    display: flex;
    gap: 20px;
}

.font-size{
    font-size: 14px;
    font-weight: 700;
    color: #726d7e;
}


.font-size-li{
    font-size: 14px;
    color: black;
}
.font-size-li h4{
    font-size: 12px;
    color: #726d7e;
    font-weight: 700;
}
.font-size-li .bi{
    font-size: 14px;
    font-weight: bold;
}