.icon{
       height: 65px;
    width: 65px;
    background-color: #f3b702;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card{
    transition: all .5s linear ;
    border-radius: 20px;
    border: none;
}
.card:hover{
    transform: translateY(-10px);
}
